//Bootstrap overides
$success: rgb(24, 199, 106);
$light: rgb(226, 226, 226);



//Custom CSS
#main-searchbar::placeholder{
    color:rgb(161, 161, 161);
}

#ingredients-filter{
    box-shadow: none;
    outline: auto 0px;
    font-size: 1.2rem;

    &::placeholder{
        color: white;
    }
}

#devices-filter{
    box-shadow: none;
    outline: auto 0px;
    font-size: 1.2rem;
    
    &::placeholder{
        color: white;
    }
}

#ustensils-filter{
    box-shadow: none;
    outline: auto 0px;
    font-size: 1.2rem;
    
    &::placeholder{
        color: white;
    }
}

.columns{
    column-count: 3;
}

#ingredients-dropdown{
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar{
        display: none;
    }
}